//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 19 23:33:09 2020
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

