//! **************************************************************************
// Written by: Map P.20131013 on Sat Nov 21 14:35:18 2020
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

