//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 23 20:30:31 2020
//! **************************************************************************

SCHEMATIC START;
NET "RELOJ_BUFGP/IBUFG" BEL "RELOJ_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

